.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  flex-direction: row;
  background-color: #282c34;
  color: white;
  height: 70px;
  align-items: center;
}

.navLogo {
  width: 10%;
}

.navMenu {
  width: 65%;
}

.navMenuItem {
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.navInfo {
  width: 10%;
  font-weight: bold;
}

.navLogout {
  width: 5%;
  cursor: pointer;
}