.Error {
    background-color: red;
    font-style: italic;
    font-weight: bold;
    padding: 10px;
    width: 100%;
}

.SignupForm {
    background-color: gray;
    margin: 50px;
    padding: 20px;
}

.SignupFormInputText {
    width: 50%;
    margin-bottom: 10px;
}

.SignupFormButton {
    margin-top: 10px;
}

.WrongField {
    border-color: red;
}